* {
    padding:0;
    margin:0;
}

body {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    background-color: #333B31;
}
#complete-form {
    background-color: #258F0D;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 5px 10px 8px #181D17;
}
section {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: stretch;
    row-gap: 10px;
    margin-bottom: 30px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 500px;
    color: white;
    font-weight: bold;
    font-size: 42px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fruitLabel {
   padding: 10px 10px 10px 40px;
    border: 1px solid #000;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
}
.counter {
    background-color: #C9EAC2;
    padding: 8px;
}
.form-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frequency-label {
    display: flex;
    column-gap: 20px;
    align-items: baseline;
}
.fruit {
    width: 40%;
    font-size: 24px;

}
.count-button {
    padding: 8px;
    margin: 0 8px;
    cursor: pointer;
    background-color: #28AA0A;
    border: 2px solid #28AA0A;
    font-size: 18px;
    color: white;
}

.name-field, .name-field-number {
    display: flex;
    height: 25px;
    padding-left: 8px;
    width: 75%;
}
.name-field-number {
    width: 40%;
}
.errors {
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 75%;
    align-self: flex-end;
}
.new-block {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.text-area {
    padding-top: 3px;
    padding-left: 8px;
}
.button-submit, .button-reset {
    margin-top: 20px;
    padding: 10px 0;
    width: 200px;
    align-self: center;
    background-color: #7EED65;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #2B3329;
}
.button-submit {
    background-color: #2B3329;
    color: #7EED65;
    width: 100%;
}